body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  font-family: sans-serif;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (100px)[3];
      grid-template-rows: repeat(3, 100px);
  grid-gap: 180px;
}

.square {
  position: relative;
  width: 100px;
  height: 100px;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  background: #03a9f4;
  -webkit-animation: 3s linear infinite rotate;
          animation: 3s linear infinite rotate;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.pivont-point {
  position: absolute;
  color: #363636;
  font-size: 30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /*
 &.center {
    top: 60%;
    left: 40%;
  }
   
  &.lefttop {
    top: 12%;
    left: 23%;
  }
  */
}

.pivont-point.centertop {
  top: -10%;
  left: 70%;
}

.origin {
  /*
  &-center {
    transform-origin: 40% 60%;
  }
 
  &-lefttop {
    transform-origin: 23% 12%;
  }
   */
}

.origin-centertop {
  -webkit-transform-origin: 70% -10%;
          transform-origin: 70% -10%;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
