/* BEGIN (write your solution here) */
@font-face {
  font-family: Raleway;
  src: url('../assets/fonts/Raleway-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Raleway;
  src: url('../assets/fonts/Raleway-Regular.ttf');
  font-weight: 400;
}
/* END */

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 50px;

  color: #eee;

  /* BEGIN (write your solution here) */
  font: 20px/1.5 sans-serif;
  /* END */

  background-image: linear-gradient(to right top, #222831, #282d36, #2d333b, #333841, #393e46);
}

img {
  max-width: 100%;

  vertical-align: middle;
}

a {
  color: inherit;
}

h1 {
  font-size: 2em;
}

h2 {
  color: #00adb5;
  font-size: 1.5em;
}

.tabs {
  width: 1024px;
  margin: 0 auto;

  /* BEGIN (write your solution here) */
  column-count: 3;
  column-gap: 0;
  /* END */
}

/* BEGIN (write your solution here) */

.tab-name {
  break-inside: avoid;
  display: flex;
  flex: 0 1 33.333%;
  justify-content: center;
}

.tabs-content {
  column-span: all;
  background: #393e46;
}
.tabs-description {
  column-count: 3;
  column-gap: 30px;
}
.tab-name {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  background: #00adb5;
}
.tab-name:hover {
  border-bottom: 3px solid #5ffbf1;
}
.tab-name:focus {
  border-bottom: 3px solid #5ffbf1;
}
.tabs-content-item {
  display: none;
}

.tabs-content-item:target {
  display: block;
  padding: 20px;
}

/* END */

.span-all {
  column-span: all;
}
