body {
  margin: 0;
  padding: 0;

  color: #333;
  font-family: sans-serif;
  line-height: 1.5;

  background: #f9f9f9;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  min-height: 90px;
  padding: 20px 40px;

  overflow: hidden;
}

.header-white {
  background: #fff;
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav li {
  padding: 10px 20px;

  cursor: pointer;
}

.nav a {
  color: inherit;

  font-weight: bold;
  white-space: nowrap;
  text-decoration: none;
}

.nav li:hover > a {
  color: #717171;
}

/* BEGIN (write your solution here) */
.custom-checkbox{
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}
.burger{
  display: none;
}

/* END */



@media screen and (max-width: 500px) {

  /* BEGIN (write your solution here) */
  .burger{
  display: block;
  }
  .nav {
    display: none;
  }
  .custom-checkbox:checked ~ .burger{
    
    width: 100%;
  }
  .custom-checkbox:checked ~ .nav {
    display: block;
     width: 100%;
  }
  /* END */



  .nav ul {
    display: block;
  }

  .nav li {
    padding-right: 0;
    padding-left: 0;
  }

  /* BEGIN (write your solution here) */
  .header{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }

  img{
    width: 50px;
    height: 50px;
  }
  /* END */
}